# Python virtual environment
venv/
.venv/

# Python package metadata
*.egg-info/
src/*.egg-info/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
ds
*.log
gcm-diagnose.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Backup folder
ai-smart-test-selector-backup/
**/ai-smart-test-selector-backup/
*-backup
*.copy

# Coverage & testing
.coverage
htmlcov/
.pytest_cache/

# =========================
# ML / MLOps Artifacts
# =========================
mlruns/
mlflow.db
catboost_info/

# Optional model artifacts
models/
artifacts/

# Data files (optional if generated)
*.pkl
*.joblib
